{% extends "index/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de Categorias</h2>
    <a href="{% url 'category_create' %}" class="btn btn-primary mb-3">Crear Categoria</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categories %}
            <tr>
                <td>{{ categoria.name }}</td>
                <td>
                    <a class="btn btn-success btn-sm">Editar</a>
                    <a href="{% url 'category_delete' category.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
